.containerDesktop{
  align-items: flex-start;
  background-color: var(--background);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0px;
  margin: 0px;
  min-height: 2958px;
  min-width: 1280px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}

.containerCover{
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.imageCover{
  align-self: stretch;
  background-color: transparent;
  height: 320px;
  /* min-width: 1280px; */
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  background-image: url("../../images/ArtistPage/ArtistPage-image-placeholder-1.png");
  background-position: center center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: contain;
  /* background-position-x: 96%; */
}

.imageProfile{
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  height: auto;
  margin-top: -70px;
  position: relative;
  width: 1050px;
}

.avatar{
  align-items: flex-start;
  background-color: transparent;
  border: 2px solid;
  border-color: var(--background);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: auto;
  margin-bottom: -2px;
  margin-left: -2px;
  margin-top: -2px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  transition: all 0.3s ease;
  width: fit-content;
}

.asset{
  background-color: transparent;
  height: 120px;
  min-width: 120px;
  mix-blend-mode: normal;
  position: relative;
}

.avatarImage{
  background-color: transparent;
  height: 120px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 120px;
}

/* Phone */
@media (max-width:480px) {
  .container {
    /* min-height: 3152px; */
    min-width: 375px;
  }
  .imageCover{
    align-self: stretch;
    background-color: transparent;
    height: 250px;
    min-width: 375px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: relative;
    background-image: url("../../images/ArtistPage/ArtistPage-image-placeholder-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-x: 96%; */
  }
}

/* Tablet */
@media (max-width:768px) {
  .container {
    /* min-height: 3237px; */
    min-width: 834px;
  }
  .containerTablet {
    
  }
  .imageCover{
    align-self: stretch;
    background-color: transparent;
    height: 280px;
    min-width: 834px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: relative;
    background-image: url("../../images/ArtistPage/ArtistPage-image-placeholder-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-x: 96%; */
  }
}

/* Desktop */
@media (max-width: 1025px) {

}