.cover_image {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.image_place_holder {
  align-self: stretch;
  background-color: transparent;
  height: 320px;
  min-width: 1280px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
}

.profile_image {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  height: auto;
  margin-top: -70px;
  position: relative;
  width: 1050px;
}

.avatar {
  align-items: flex-start;
  background-color: transparent;
  border: 2px solid;
  border-color: var(--background);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: auto;
  margin-bottom: -2.00px;
  margin-left: -2.00px;
  margin-top: -2.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  transition: all 0.3s ease;
  width: fit-content;
}

.avatar:hover {
  transform: scale(0.95); 
}

.asset {
  background-color: transparent;
  height: 120px;
  min-width: 120px;
  mix-blend-mode: normal;
  position: relative;
}

.avatar_placeholder {
  background-color: transparent;
  height: 120px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 120px;
}

/* # Phone */
@media (max-width:480px) {
  .image_place_holder {
    height: 250px;
    min-width: 375px;
  }

  .image_place_holder {
    align-self: stretch;
    background-color: transparent;
    height: 250px;
    min-width: 375px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: relative;
  }

  .profile_image {
    justify-content: center;
    position: relative;
    width: 375px;
  }
}

/* # Tablet */
@media (min-width:481px) and (max-width:768px) {
  .image_place_holder {
    height: 280px;
    min-width: 834px;
  }

  .profile_image {
    width: 690px;
  }
}

/* # Desktop */
@media (min-width:769px) {

}