.bcategContainer {
    background: var(--background);
}

.bcategTitle {
    padding-top: 50px;
    padding-left: 50px;
}
  
.bcategTitle h3 {
    color: white;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding-left: 90px;
}
  
.gridCard {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 120px;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .gridCard {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
  
@media (max-width: 480px) {
    .bcategSearch h3 {
      font-size: 1.75rem;
      margin-top: 15%;
}}