.hiwContainer {
    background: var(--background, #2B2B2B);
}

.hiwTitle {
    color: #FFFFFF;
    font-family: Work Sans;
    font-weight: 600;
    font-size: 38px;
    font-style: normal;
    margin: 0;
    padding-left: 90px;
}

.hiwDescription {
    color: #FFFFFF;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 22px;
    text-align: left; /* alinha o texto à esquerda */
    padding: 30px; /* add espaçamento ao redor da descrição */
    margin: 0;
    padding-left: 90px;
}
  
.gridCard2 {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 120px;
    margin-top: 40px;
}

.hiwFlex {
    display: flex;
    flex-direction: row;
    gap: 3px; /* espaço entre os cards */
    max-width: 800px; /* largura máxima para o container flex */
    margin: 0 auto; /* centraliza o container flex horizontalmente */
}

@media (max-width: 768px) {
    .gridCard2 {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
  
@media (max-width: 480px) {
    .hiwSearch h3 {
      font-size: 1.75rem;
      margin-top: 15%;
    }
    .hiwFlex {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0px 20px;
    }
}