.flexButtons {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 30px;
  max-width: 500px;
}

.flexButtons span {
  width: 40px;
  height: 40px;
  padding-right: 20px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-color: var(--background-secondary, #3b3b3b);
}

.flexButtons p{
  padding: 0;
  margin: 0;
  text-align: initial;
}


.flexButtons .button {
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: flex-start;
  height: 70px;
  background: var(--background-secondary, #3b3b3b);
  border: 1px solid var(--call-to-action, #a259ff);
  transition: transform 0.3s ease;
}

.flexButtons .button:hover {
  transform: scale(0.95);
}
.flexButtons p {
  background: var(--background-secondary, #3b3b3b);
  color: var(--white, #ffffff);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l);
  font-weight: 600;
}

.flexButtons .metamask {
  background-image: url("../images/Connect/Metamask.png");
}

.flexButtons .wallet {
  background-image: url("../images/Connect/WalletConnect.png");
}

.flexButtons .coinbase {
  background-image: url("../images/Connect/Coinbase.png");
}

@media (max-width: 768px) {
 
  .flexButtons span {
    background-size: 32px 32px;
    background-position: center;
    margin: 0;
  }
  .flexButtons .button {
    height: 60px;
  }
  
  .flexButtons p {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .flexButtons {
    width: 90%;
    gap: 20px;
  }
  .flexButtons .button {
    height: 65px;
  }

  .flexButtons span {
    margin: 0;
  }

  .flexButtons p {
    font-size: 20px;
  }
  
}


