.connectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    color: var(--text);
    font-family: var(--font-family-work_sans);
  }
  
  .connectForm {
    margin: 5vmax 0 10vmax 0;
  }
  
  .connectForm h2 {
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .connectForm p {
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 2px;
    padding: 20px 0 ;
  }
  
  @media (max-width: 500px) {
    .connectForm p {
      letter-spacing: 0px;
    }
  }
  
  @media (max-width: 830px) {
    .connectGrid {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 10px;
    }
  
    .connectForm {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }
  
  
  