.subscribeWidget {
    padding: 10vh 10vw;
}

.subscribeWidgetContent {
    display: flex;
    align-items: center;
    gap: 80px;
    align-self: stretch;
    padding: 60px;
    margin: auto;
    background-color: var(--background---secondary);
    border-radius: 20px;
}

.subscribeWidgetText > h3 {
    color: var(--white);
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    align-self: stretch;
    
}

.subscribeWidgetText > p {
    color: var(--white, #FFF);
    /* Body Text- Work Sans */
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
}

.subscribeWidgetContentImg {
    height: 310px;
    width: 100%;
    flex: 1 0 0;
    border-radius: 20px;
    background: url(../images/Astronaut.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribeWidgetForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
}

.subscribeWidgetInputHolder {
    display: flex;
    height: 60px;
    align-items: center;

    align-self: stretch;
    padding-left: 20px;
    border-radius: 20px;
    background: var(--text, #FFF);
}

.subscribeWidgetInput {
    flex: 1;
    color: var(--background, #2B2B2B);
    outline: none;
    border: none;
}

.subscribeWidgetBtn {
    display: flex;
    gap: 12px;
    padding: 0 50px;
    background: var(--call-to-action, #A259FF);
    border-radius: 20px;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
}

.subscribeWidgetBtn:hover {
    scale: 0.95;
}

.subscribeWidgetBtn > img {
    width: 20px;
    height: 20px;
}

.subscribeWidgetBtnFont {
    color: #FFF;
    font-family: var(--font-family-work_sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

@media only screen and (min-width:908px) and (max-width:1280px) {

    .subscribeWidgetText {
        display: flex;
        flex-direction: column;
    }

    .subscribeWidgetText > h3 {
        color: var(--white, #FFF);
        font-family: Work Sans;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        align-self: stretch;
    }
    
    .subscribeWidgetText > p {
        color: var(--white, #FFF);
        font-family: Work Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    .subscribeWidgetInputHolder {
        flex-direction: column;
        background: none;
        display: flex;
        gap: 16px;
        height: fit-content;
        align-self: stretch;
        padding-left: 0px;
    }


    .subscribeWidgetInput {
        height: 46px;
        padding: 15px 20px;
        justify-content: center;
        align-self: stretch;
        border-radius: 20px;
    }

    .subscribeWidgetBtn {
        align-self: stretch;
        justify-content: center;
        height: 46px;    
    }
}

@media only screen and (min-width:480px) and (max-width:908px) {
    .subscribeWidget {
        padding: 0px;
        align-items: center;
        align-self: stretch;
    }

    .subscribeWidgetInputHolder {
        flex-direction: column;
        padding-left: 0px;
        background: none;
        display: flex;
        gap: 12px;
        height: fit-content;
    }

    .subscribeWidgetInput {
        height: 46px;
        padding: 15px 20px;
        justify-content: center;
        align-self: stretch;
        border-radius: 20px;
        
    }

    .subscribeWidgetContent {
        background: none;
        flex-direction: column;
        padding: 40px 20px;
        align-items: center;     
        justify-content: center;
    }

    
    .subscribeWidgetBtn {
        align-self: stretch;
        justify-content: center;
        height: 46px;    
    }

    .subscribeWidgetContent {
        background: none;
        flex-direction: column;
        padding: 40px 0px;
        width: 375px;
        align-items: center;
        
    }

    .subscribeWidgetContentImg {
        flex: auto;
        height: 255px;
    }
}

@media only screen and (max-width:479px) {
    .subscribeWidget {
        padding: 0px;
        align-items: center;
        align-self: stretch;
    }

    .subscribeWidgetInputHolder {
        flex-direction: column;
        padding-left: 0px;
        background: none;
        display: flex;
        gap: 12px;
        height: fit-content;
    }

    .subscribeWidgetInput {
        height: 46px;
        padding: 15px 20px;
        justify-content: center;
        align-self: stretch;
        border-radius: 20px;
        
    }

    .subscribeWidgetContent {
        background: none;
        flex-direction: column;
        padding: 40px 20px;
        align-items: center;     
        justify-content: center;
    }

    
    .subscribeWidgetBtn {
        align-self: stretch;
        justify-content: center;
        height: 46px;    
    }

    .subscribeWidgetContentImg {
        flex: auto;
        height: 255px;
    }
}