.registerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  color: var(--text);
  font-family: var(--font-family-work_sans);
}

.registerBg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.registerBg img {
  width: 100%;
  height: 100%;
}

.registerForm {
  margin-top: 10vmax;
}

.registerForm h2 {
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.registerForm p {
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2px;
}

@media (max-width: 500px) {
  .registerForm p {
    width: 80%;
    letter-spacing: 0px;
  }
}

@media (max-width: 830px) {
  .registerGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .registerForm {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .registerBg img {
    width: 100vw;
    height: 260px;
    object-fit: cover;
  }
}

@media (min-width: 820px) {
  .registerBg img {
    transform: scale(1.8);
  }
}

@media (min-width: 1000px) {
  .registerBg img {
    transform: scale(1.35);
  }
}

@media (min-width: 1500px) {
  .registerBg img {
    transform: scale(1.5);
  }
}

@media (min-width: 2000px) {
  .registerBg img {
    transform: scale(1);
  }
}
