.formRegister {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 20px 0;
  width: 60%;
  
}

.formGroup {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 25px;
  border-radius: 30px;
  padding: 15px 0;
  min-width:  371px;

}
.formGroup input {
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  width: 75%;
  padding-left: 30px;
  margin-left: 5%;
  font-style: normal;
  font-weight: 400;
  font-family: var(--font-family-work-sans);
  font-size: var(--font-size-m);
  background-repeat: no-repeat;
}

.registerUser {
  background-image: url(images/User.svg);
}

.registerEmail {
  background-image: url(images/EnvelopeSimple.svg);
}

.registerPassword {
  background-image: url(images/LockKey.svg);
}

.registerButton button {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-top: 1rem;
  color: var(--text);
  background-color: var(--call-to-action);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  border: none;
  font-weight: 600;
  transition: transform 0.3s ease;
  min-width:  371px;
}

.registerButton button:hover{
  transform: scale(0.95);
  
}



@media (max-width: 500px) {
  .formRegister{
    width: 80%;
    
    
  }
  .formGroup{
    width: 100%;
    min-width: 200px;
  }

  .registerButton button {
    min-width: 200px;
  }
 
}
