.bgImgNftPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgImgNftPage img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.gridNftPage {
  display: flex;
  width: 90%;
  margin: 30px auto;
  justify-content: center;
}

.descriptionNftPage .spanStyleNftPage {
  color: #858584;
  font-weight: 700;
}

.mintedNftPage {
  color: var(--caption-label-text, #858584);
  font-family: Work Sans;
  font-weight: 400;
  font-size: 16px;
  margin: 20px 0 30px 0;
}

.createdNftPage {
  margin-bottom: 20px;
}

.creatorNftPage {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
}

.creatorNftPage img {
  width: 1.5rem;
  height: 1.5rem;
}

.creatorNftPage h6 {
  font-size: 16px;
}

.detailsNftPage {
  padding: 20px 0;
}

.detailsNftPage img:hover,
.detailsNftPage p:hover {
  cursor: pointer;
}

.viewOnNftPage {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
}
.viewOnNftPage img {
  width: 30px;
}

.tagsOptionsNftPage {
  display: flex;
  justify-content: start;
  gap: 10px;
  padding-top: 15px;
}

.tagsOptionsNftPage p {
  background-color: #3b3b3b;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 14px;
}

.moreArtisitNftPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  color: white;
  padding-top: 10%;
  margin-bottom: -5%;
  font-weight: 600;
}

.moreArtisitNftPage h4 {
  font-size: 2.375rem;
  line-height: 120%;
}

.moreArtisitNftPage button {
  font-size: 1rem;
 
  font-family: var(--font-family-work_sans);
  height: 3.75rem;
  padding: 0rem 3.125rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 1.25rem;
  border: 2px solid var(--call-to-action, #a259ff);
  background: transparent;
}

@media (max-width: 768px) {
  .descriptionNftPage h2 {
    font-size: 2.375rem;
  }
  .tagsOptionsNftPage {
    flex-direction: column;
  }

  .tagsOptionsNftPage p {
    width: fit-content;
  }
  .tagsOptionsNftPage p {
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .gridNftPage {
    flex-direction: column-reverse;
  }

  .descriptionNftPage {
    margin-top: 20px;
  }

  .createdNftPage {
    margin-top: 20px;
  }
}
