.card {
  display: inline-block;
  border-radius: 20px;
  background: #2b2b2b;
  
  font-family: Space Mono;
}
.cardImage{
  width: 100%;
}
.cardImage img{
  width: 100%;
}

.cardInfo {
  padding: 0 0.675rem;
  color: var(--white, #fff);
}

.card h4 {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  margin: 1rem 0;
  letter-spacing: 1px;
}

.cardAvatar {
  width: 24px;
  padding-right: 0.8rem;
}

.cardCreator {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.cardCreator p {
  margin: 0;
}

.cardAuctionPrice {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 0.563rem 0;
  align-items: baseline;
}

.cardAuctionPrice span {
  font-size: 12px;
  color: #858584;
}

.cardAuctionPrice p {
  font-size: 16px;
  margin-top: 0.3rem;
}

.cardHighestBid {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.card:hover {
  cursor: pointer;
  transform: scale(0.95);
}

@media (max-width: 1025px) {
  .cardAuctionPrice p{
    font-size: 14px;
  }
  .cardInfo{
    padding: 0 0.675rem;
  }
}


/*TABLET*/
@media (max-width:768px) { 
  .cardInfo{
    padding: 0 0.675rem;
  }
  
  .cardAuctionPrice p{
    font-size: 14px;
  }
}

/*CELULAR*/
@media (max-width: 480px) {
  
  .cardAuctionPrice p{
    font-size: 16px;
  }
  .cardInfo{
    padding: 0 1.675rem;
  }
}
