.app {
    background: var(--background, #2B2B2B);   
}

.cardCateg {
    background: #3B3B3B;
    display: inline-block;
    border-radius: 20px;
    margin: 1rem;
}

.cardCateg h4 {
    color: var(--white, #FFF);
    padding-left: 10%; 
}