.registerBg {
    width: 100%;
    overflow: inherit;
  }
  
  .registerBg img {
    height: 90%;
    object-fit: cover;
    width: 100%;
  }


  
@media (max-width: 768px) {

    .registerBg img {
        width: 100vw;
        height: 260px;
        object-fit: cover;
      }

}

@media (min-width: 2000px) {
  .registerBg img {
    height: 80%;
    
  }
}
/*
@media (min-width: 769px) {
    .registerBg img {
      transform: scale(1.9);
    }
  }
  
  @media (min-width: 1000px) {
    .registerBg img {
      transform: scale(1.5);
    }
  }
  
  @media (min-width: 1300px) {
    .registerBg img {
      transform: scale(1.3);
    }
  }
  

  @media (min-width: 2000px) {
    .registerBg img {
      transform: scale(1.2);
    }
  }*/