.registerBg {
  width: 100%;
  overflow: inherit;
}

.registerBg img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
/*
@media (max-width: 768px) {
  .registerBg img {
    width: 100vw;
    height: 260px;
    object-fit: cover;
  }
}
*/
@media (min-width: 2000px) {
  .registerBg img {
    height: 80%;
  }
}

@media (max-width: 480px) {
  .registerBg img {
    height: 14.5rem;
  }
}
